@import '../../styles/colors';
@import '../../styles/base';

.exchange {
  margin-bottom: 32px;
  width: 100%;
}

.subtitle {
  @include primary;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
}

.card {
  @include a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border-radius: 5px;
  border: solid 1px $desaturated400;
  &:hover {
    border: solid 1px $primary400;
  }
  > p {
    @include primary;
    font-size: 16px;
    font-weight: 500;
  }
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
